.btn {
  white-space: normal;
}

h1, h2 {
  margin-top: 20px;
}

body {
  background-color: #343a40;
  font-family: 'Exo', sans-serif;
}

.jumbotron {
  background-image: url('https://ewscripps.brightspotcdn.com/dims4/default/26a16d0/2147483647/strip/true/crop/1280x720+0+0/resize/1280x720!/quality/90/?url=http%3A%2F%2Fewscripps-brightspot.s3.amazonaws.com%2F3f%2F1d%2F3d911b8a47088beaf348069c550b%2Fcoronavirus-background-1280x720-1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  text-shadow: 1.5px 1.5px #000000;
  padding: 15px 20px;
}

.btn-custom {
  background-color: #343a40;
  color: #f8f9fa;
  text-shadow: none;
}

a {
  color: #dc3545;
}

a:hover {
  text-shadow: none;
  color: firebrick !important;
}