form {
  margin: 0px;
  width: 100%;
}

#searchTxt {
  display: none;
}

#srcBusiness {
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
}

.accordion {
  margin-bottom: 32px;
}

.bg-custom {
  background-color: #343a40;
  color: #f8f9fa;
}

.stars {
  white-space: nowrap;
}

.card-header {
  background-color: rgb(212, 212, 212);
  margin: 0px;
}

#noResults {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.test {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: rgb(212, 212, 212);
}

.noReview {
  border: #343a40;
  margin-bottom: 25px;
}

.businessHead {
  padding: 0px;
  margin: 0px;
}

@media only screen and (max-width: 767.98px) {
  #searchTxt {
    display: inline;
  }
  #srcBusiness {
    padding: 6px;
  }
  .srcIcon {
    display: none;
  }
}